.box {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: darkkhaki;
}

.sub-box {
  margin-top: 1vw;
}
