<nav class="navbar bg-dark navbar-dark">
  <a class="navbar-brand" href="#">FORUM CLIENT</a>
  <div class="nav-item m-1" *ngIf="isLogged()">
    <span class="text-light">
      {{ getUsername() }}
    </span>
    <span class="text-light">
      {{ getUuid() }}
    </span>
  </div>
  <div class="nav-item m-1">
    <ul class="navbar-nav text-right">
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-danger m-1"
          (click)="logout()"
          *ngIf="isLogged()"
        >
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>
