.box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: coral;
  height: 40px;
}

.sub-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: coral;
  height: 40px;
}

.box div {
  margin-right: 1%;
}

.sub-box div {
  margin-right: 20%;
}
